<!--Criação de formulario-->

<div class="container">
  <form action="https://formsubmit.co/junior91259123@gmail.com" method="POST">
    <label for="name">Nome e sobrenome</label>
    <input type="text" id="name" class="input-padrao" placeholder="ex: João da Silva" required>

    <label for="email">E-mail</label>
    <input type="email" id="email" class="input-padrao" required placeholder="Email@dominio.com">

    <label for="telefone">Telefone</label>
    <input type="tel" id="telefone" class="input-padrao" required placeholder="(xx) xxxxx-xxxx" >

    <label for="mensagem">Mensaguem</label>
    <Textarea cols="72" rows="7" id="mensagem" class="input-padrao" required></Textarea>



    <input class="enviar" id="send" type="submit" value="Enviar">

    <input type="hidden" name="_captcha" value="false">
    <input type="hidden" name="_next" value="https://manoel-fernandes123.netlify.app/">
  </form>
</div>
