<!-- Footer feito com css-->

<div class="footer"> <!--rodape feito com bootstrap-->
  <div class="row">
    <div class="col-lg-6"> <!--Dividindo os containers do footer-->
      <h1>FERRAMENTAS DE DESENVOLVIMENTO WEB</h1>
      <p>Volte sempre </p>
    </div>
    <div class="col-lg-4"> <!--Dividindo os containers do footer-->
        <a routerLink="home">Início</a>
        <a routerLink="formacao">Formação</a>
        <a routerLink="contato">Contato</a>
    </div>

    <div class="col-lg-2"> <!--Dividindo os containers do footer--> <!--Links para minhas redes sociais-->
      	<a href="https://www.linkedin.com/in/manoel-fernandes-690b4022b/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/ManoelFernands" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.instagram.com/?__coig_login=1" target="_blank"><i class="bi bi-instagram"></i></a>

  </div>
  </div>
</div>
