<div class="container"> <!--Conteúdo da página formação-->
  <div class="container__cursos">

    <h3>Escolaridade</h3>

    <ul>
      <li>Ensino Superiro <span>Incompleto</span></li>
    </ul>

    <hr>

    <h3>Cursos</h3>

    <ul> <!-- lista de cursos que ue fiz nos ultmis anos-->
      <li>Análise e Desenvolvimento de Sistemas <span>Cursando</span></li>
      <li>Desenvolvimento Web Completo  <span>Cursando</span></li>
      <li>Wise up online <span>ago 2020 - ago 2021</span></li>
      <li>Lógica de programação essencial <span>jan 2022 - fev 2022</span></li>
      <li>Projetos ágeis com SCRUM <span>jan 2022 - fev 2022</span></li>
    </ul>
    <hr>

    <h3>Atividade extracurricular</h3>

    <ul>
      <li>Técnico em manutenção de computadores <span>jan 2018 - mai 2022</span></li>
    </ul>

    <hr>

    <h3>Idiomas</h3>

    <ul>
      <li>Inglês <span>Intermediário</span></li>
      <li>Espanhol <span>Básico</span></li>
    </ul>

  </div>

  <div class="container__extracurricilar">



  </div>

  </div>
