<div class="container"> <!--Conteudo da pagina inicial-->

  <h2>Quem sou eu?</h2>

   <p>Olá, eu sou o Manoel E. Fernandes Moreira Júnior nasci em 02/09/1998 em Boa Vista Roraima e atualmente tenho 23 anos e estou tentando me transformar em um futuro programador.</p>

   <h3>Área profissional</h3>

   <p>Sou estudante de Análise e desenvolvimento de sistemas na faculdade Uninter e como eu fui acabar cursando uma faculdade de tecnologia?</p>

   <p>Pois bem eu desde pequeno me interesso por todos os tipos de maquinas, mas eu realmente me apaixonei pelos computadores quando ganhei o meu primeiro desktop com 9 anos, de lá pra frente fiquei fascinado pra saber como ele funcionava e essa foi uma das minhas primeiras paixões e daí pra frente e vim me interessando mais e mais pela área da tecnologia.
   </p>

   <p>Comecei fazendo manutenção no meu próprio computado, até que um dia um amigo me pediu ajuda pra concertar o computador dele e foi aí que vi que poderia trabalhar na área de manu-tenção de computadores</p>

   <p>Em um dia qualquer em quanto fazia a limpeza do computador de uma amiga, ela comentou que trabalhava como programadora e que eu deveria tentar porque era uma área muito boa e que eu iria gostar, ela me recomendou uns cursos que eu comecei fazer, e desde entao a programação entrou na minha vida. </p>

   <h3>Hobbies</h3>

   <p>Eu comecei a fazer trilhas e foi simplesmente incrível. Trilha é um dos esportes de aventura mais simples e prazerosos que existem. Não exige habilidade, e seu condicionamento físico não precisa estar lá aquelas coisas. É só conhecer um “pico” e se aventurar. Sempre com segu-rança, é claro!
   </p>

   <P>
    Além de trilhar eu simplesmente amo patinar. por que não existe prazer maior do que ouvir as rodas do patins tocando no chão. Ou o barulho de quando completamos um salto com perfei-ção.
    Para isso acontecer podem ocorrer vários tombos, mas levantar e continuar é o verdadeiro amor à patinação.

   </P>

 </div>
